/* nav stylr     */

nav{

    display: flex ;
    /* justify-content: center; */

    /* text-align: center; */
    justify-content: space-between;
    text-decoration: none;
 

}

nav > ul > li {

    text-decoration: none;
}