 
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/*shared style  */

.text-primary{

color: #FD6E0A;
}


.dark-2{

    color: #474747;
}



nav{

    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 200px ;
    /* color: white; */

}


.btn-primary {

background-color: #FD6E0A;
font-weight: bold;
color: white;
padding: 18px 35px;
border-radius: 5px;
color: white;
font-size: 20px;
border: none;


}

.nav-title{

font-weight: 800;
font-size: 45px;
}

 
nav ul { display: flex;
align-items: center;

}


nav ul li {
    list-style: none;
    margin-right: 50px;
}


nav ul li a {

text-decoration: none;
font-size: 20px;


}


/* banner styles */   

.banner-greetings{

/* Hi, I am
position: absolute;
width: 177px;
height: 61px;
left: 230px;
right: 178px;
top: 297px;
bottom: -96px;
 */


 color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 45px;
font-weight: 600;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
}


.banner-title{

 color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 65px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0%;
text-align: left;   
}

 .banner > p {

color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
 }



.banner-profile-picture{

/* 1699492_P3OLGJ1 1 */
position: absolute;
width: 584px;
height: 676px;
left: 978px;
right: 38px;
top: 161px;
bottom: 3419px;

    
}













/* nav ar  maje  ul ar   maje  li  ace    akhon  li    golike   ke  kicu   akta  korte  chile
ke  korte  choile  
aivave likte  pari   aita   generally   2  vabe   likte  pari 


1.  nav ul li {
list-style:none ;
  }



/*

2.     nav > ul > li {

list-style:none :

}




*/








/*  aitake  aber  aivabew  likte   pari 













/* 
nav > ul > li > a {

    text-decoration: none;
    display: flex;
    justify-content: space-between;
} */